{% extends "nav.html" %} {% block contents %}
    <div class="form-wrapper">
      <form>
        <div>
          <label for="itemTitle" class="form-label">New Item</label>
          <input type="text" class="form-control" id="title" />
        </div>
        <div>
          <label for="count" class="form-label">Count</label>
          <input
            class="form-control"
            type="number"
            id="count"
          ></input>
        </div>
        <div>
          <label for="expirationDate" class="form-label">expiration date</label>
          <input class="form-control" type="date" id="expirationDate"></input>
        </div>

        <div>
          <label for="mainImage" class="form-label">Main Image</label>
          <input
            type="file"
            class="form-control"
            id="mainImage"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
          />
        </div>
        <div class="submit-btn">
          <button type="submit" class="btn btn-outline-light">
            Add Item
          </button>
        </div>
      </form>
    </div>
{% endblock %}