{% extends "nav.html" %} {% block contents %}
<div class="form-wrapper">
  <form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <div>
      <label for="re_name" class="form-label">Menu Title</label>
      <input type="text" class="form-control" name="re_name" />
    </div>
    <div>
      <label for="re_minute" class="form-label">Minutes</label>
      <input type="number" class="form-control" name="re_minute" />
    </div>
    <div>
      <label for="re_ingredients" class="form-label"
        >Check the Ingredients</label
      >

      <div
        class="btn-group"
        role="group"
        aria-label="Basic checkbox toggle button group"
        style="display: grid; grid-template-columns: 1fr 1fr; width: 1000px"
      >
        <input
          type="checkbox"
          class="btn-check"
          id="btncheck1"
          autocomplete="off"
          name="re_ingredients"
        />
        <label
          class="btn btn-outline-light"
          id="btn-ingredients"
          for="btncheck1"
          >Checkbox 1</label
        >

        <input
          type="checkbox"
          class="btn-check"
          id="btncheck1"
          autocomplete="off"
        />
        <label class="btn btn-outline-light" for="btncheck2">Checkbox 2</label>

        <input
          type="checkbox"
          class="btn-check"
          id="btncheck3"
          autocomplete="off"
        />
        <label class="btn btn-outline-light" for="btncheck3">Checkbox 3</label>
      </div>
    </div>
    <div>
      <label for="recipe" class="form-label">Recipe</label>
      <textarea class="form-control" type="text" id="Recipe"></textarea>
    </div>
    <div class="submit-btn">
      <input
        type="submit"
        class="btn btn-outline-light"
        value="Create Recipe"
      />
    </div>
  </form>
</div>
{% endblock %}
